<h1><%= @snail.name %></h1>

This <%= @snail.gender %> snail is called <%= @snail.name %>. It's spirit animal is a <%= @snail.animal %>, it can be found in the <%= @snail.location %> and its greatest accomplishment is <%= @snail.greatest %>. 

<%= link_to "Back to the list!", snails_path %>